<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Inserir orcamentos!</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">		
	</head>
	<body>
		<div class="container">
			<h2>Inserir Orçamento</h2>
			<p>User: <span th:text="@{user.login}" />&nbsp;&nbsp;Perfil: <span th:text="@{user.perfil}" />&nbsp;&nbsp;</p>
			<form th:action="@{/inserir}" method="post">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Cliente</span>
					</div>
					<datalist id="custNameList">
						<option th:each="name: ${customers}" th:value="${name}" />
					</datalist>	
					<input class="form-control" placeholder="Digite o nome do cliente" autocomplete="off" type="text" name="customer.name" list="custNameList" id="customer.name"> 
				</div>

				<div class="input-group mb-3 ">
					<div class="input-group-prepend">
						<span class="input-group-text">Nome Completo</span>
					</div>
					<datalist id="fullNameList">
						<option th:each="fullName: ${customers}" th:value="${fullName}" />
					</datalist>
					<input class="form-control" placeholder="Digite o Nome Completo do cliente a constar no orçamento" autocomplete="off" type="text" name="customer.fullName" list="fullNameList" id="customer.fullName"> 
				</div>

				<div class="input-group mb-3 ">
					<div class="input-group-prepend">
						<span class="input-group-text">CNPJ</span>
					</div>
					<input class="form-control" placeholder="Digite o CNPJ a constar no orçamento" autocomplete="off" type="text" name="customer.cnpj" id="customer.cnpj">
				</div>

				<div class="row">

					<div class="input-group mb-3 col-6">
						<div class="input-group-prepend">
							<span class="input-group-text">Responsável</span>
						</div>
						<datalist id="contactList">
							<option th:each="contact: ${customers}" th:value="${contact}" />
						</datalist>
						<input class="form-control" placeholder="Digite o contato do cliente" autocomplete="off" type="text" name="customer.contact" id="customer.contact" list="contactList">
					</div>				
							
					<div class="input-group mb-3 col-6">
						<div class="input-group-prepend">
							<span class="input-group-text">Departamento</span>
						</div>
						<datalist id="deptartmentList">
							<option th:each="customer: ${customers}" th:value="${index}" />
						</datalist>					
						<input class="form-control" placeholder="Digite o departamento do contato" autocomplete="off" type="text" name="customer.department" id="customer.department" list="departmentList">
					</div>	
					
				</div>		
				
				<div class="row">
				
					<div class="input-group mb-3 col-6">
						<div class="input-group-prepend">
							<span class="input-group-text">Equipamento</span>
						</div>
						<datalist id="equipNameList">
							<option th:each="equipment: ${equipments}" th:value="${equipment}" />
						</datalist>
						<input class="form-control" placeholder="Digite modelo do equipamento" autocomplete="off" type="text" name="equipment.name" list="equipNameList" id="equipment.name">
					</div>	
						
					<div class="input-group mb-3 col-6">
						<div class="input-group-prepend">
							<span class="input-group-text">Serial Number</span>
						</div>
						<datalist id="serialList">
							<option th:each="equipment: ${equipments}" th:value="${index}" />
						</datalist>
						<input class="form-control" placeholder="Digite número de série do equipamento" autocomplete="off" type="text" name="equipment.serialNumber" id="equipment.serialNumber" list="serialList">
					</div>					

				</div>
				
				<div class="row">

					<div class="input-group mb-3 col-6">
						<div class="input-group-prepend">
							<span class="input-group-text">Serviço</span>
						</div>
						<select class="form-control" name="service.description" id="service.description">
							<option selected="true" disabled="disabled">Selecione o serviço</option>
							<option th:each="service: ${services}" th:text="${service}" th:value="${service}" ></option>
						</select>
					</div>			
							
					<div class="input-group mb-3 col-5">
						<div class="input-group-prepend">
							<span class="input-group-text">Valor</span>
							<span class="input-group-text">R$</span>
						</div>
						<input class="form-control" placeholder="Valor do serviço" autocomplete="off" type="number" name="service.price" id="service.price">
					</div>

					<div class="input-group mb-3 col-1 float-right">
						<input type="button" class="btn btn btn-outline-info" id="add" value="+">
					</div>
				
				</div>
				
				<div class="row">
				
					<div class="input-group mb-3 col-6">
						<div class="input-group-prepend">
							<span class="input-group-text">Desconto</span>
						</div>
						<input class="form-control" autocomplete="off" type="number" name="quotation.totalDiscount" id="quotation.totalDiscount" value="0" min="0" max="100">
						<div class="input-group-append">
							<span class="input-group-text">%</span>
						</div>
					</div>
	
					<div class="input-group mb-3 col-6">
						<div class="input-group-prepend">
							<span class="input-group-text">Valor Final</span>
							<span class="input-group-text">R$</span>
						</div>
						<input class="form-control" autocomplete="off" type="number" name="quotation.totalPrice" id="quotation.totalPrice" >
					</div>
				</div>						
				<button class="btn btn-outline-success mr-4" onclick="this.disabled=true; this.form.submit();">Submit</button>	
				<input class="btn btn-outline-info" type="button" onclick="window.location.href='/portalcadastro/home'" value="Home" />								
			</form>
		</div>
		<script type="text/javascript" th:src="@{/scripts/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/jquery.serializejson.min.js}"></script>
        <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
	</body>
</html>