<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"> 
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    </head>
	<body>
        <div class="container">
            <div class="card">
                <div class="card-header bg-primary text-white">Login</div>
                <div class="card-body">
                
                	<div class="col text-center p-2 mb-2 alert-danger" th:if="${error != null}">
                		<span th:text="${error}" />
                	</div>
                
                    <form th:action="@{/login}" id="form" method="post">

                        <div class="form-group">
                            <label for="login">Usuário</label>
                            <input name="login" type="text" class="form-control" id="login" aria-describedby="login" placeholder="Digite seu usuário" required><span class="error"><small>Campo obrigatório</small></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" type="password" class="form-control" id="password" placeholder="Senha"><span class="error"><small>Campo obrigatório</small></span>
                        </div>
                        <input class="btn btn-primary mt-4" onclick="sendForm()" type="submit" id="send" value="Enviar">


                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/scripts/jquery-3.3.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
	</body>
</html>