@page {
	size: a4 landscape;
	margin: 0px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  transform: scale(0.9)
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.42cm;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

hr {
    height: 0.085cm;
    background: blue; /* For browsers that do not support gradients */ 
    background: -webkit-linear-gradient(left, blue , white); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, blue, white); /* For Opera 11.1 to 12.0 */ 
    background: -moz-linear-gradient(right, blue, white); /* For Firefox 3.6 to 15 */ 
    background: linear-gradient(to right, blue , white); /* Standard syntax */
    border: none;
    margin: 0;
 }

h6 {
    margin-top: 0;
    margin-bottom: 0.21cm;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 0.42cm;
}
  
.text-center {
    text-align: center !important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.container-fluid {
    width: 28.1cm;
    height: 19.2cm;
    padding-right: 0.4cm;
    padding-left: 0.4cm;
    display: inline-block;
    margin: 0.80cm;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.font-italic {
    font-style: italic !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0.42cm;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

.left {
    float: left;
}


.right { 
   float: right;
}

td {
    position: static;
}  

table.main-table thead th,
table.main-table tbody tr td,
table.main-table thead tr th,
table.main-table thead {
    border: 2px solid black;
}

.text-primary {
    color: #1900ff !important;
}
.servico {

    border-left: none !important;
    border-right: none !important;
    padding-top: 0.85cm !important;
}

.resumo {
    
    border:none !important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.h-2 {
    width: 100%;
    height: 0.85cm;
}

.h-10 {
    width: 100%;
    height: 4.23cm;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.main-table {
    width: 100%;
    margin-bottom: 1.693cm;
    background-color: transparent;
    border-collapse: collapse;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.resiz {
   transform: scale(0.75);
}